.nav{
	height:60px;
	width:auto;
	background-color:black;
	color:white;
	font-size:bold;

}
.d-flex{
	display: flex;
	justify-content:space-around;
}
.flex-item{
	height:12%;
	width:100%;
	margin:6px;
}
.flex-wrapper{
		height:28px;
		width:100%;
  color:white;
background-color:grey;
flex-direction:row;
}
.banner{
	overflow:hidden;
	height:46%;
	width:100%;
}
.home{
border:1px solid black;
background-color:white;
}
.best{
border:1px solid black;
background-color:white;
width:100%;
margin:0px;
}
.books{
border:1px solid black;
background-color:white;
}
.amazon-product-grid{
	height: auto;
    width: 267px;
    padding: 20px;
    background-color: #eee;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 1px auto;
}
.products-grid{
	 width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 2px;
}
.product-card{
	display:flex;
	flex-direction:column;
	width:39%;
}
.product-card img{
	height:80px;
	width:125px;
}
.single-item .product-card{
	width:100%;
}
.single-item .product-card img{
	height:170px;
	width:250px;
}